body {
    margin: 0px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    background: black;
}

header {
    padding-top: 1px;
}

#canvas {
    width: 1280px;
    height: 800px;
    margin: auto;
    background-color: black;
    border-color: lightgray;
    border-width: 8px;
    border-style: solid;
}

.cell {
    float: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
}

#map-type {
    position: fixed;
    top: 8px;
    right: 16px;
}

#map-counters {
    width: 96px;
    position: fixed;
    top: 32px;
    right: 16px;
}

#map-counters div {
    width: 96px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
}

#map-controls {
    display: grid;
    grid-template-rows: 48px;
    column-gap: 4px;
    justify-content: center;
    width: auto;
    height: 48px;
    margin: 8px auto;
}

button {
    font-weight: bold;
    font-size: large;
    height: 48px;
    padding: 0px;
    box-sizing: border-box;
    border-width: 2px;
    border-color: white;
    border-radius: 24px;
}

.color-button {
    width: 48px;
}

.action-button {
    width: 128px;
    background: white;
    color: black;
}

.map-counter-toggle {
    width: 96px;
    height: 24px;
    border-radius: 12px 12px 0px 0px;
}

button:hover {
    opacity: 80%;
}

.selected {
    border: 2px solid gold;
}

.white {
    background: white;
    color: black;
}

.dark-blue {
    background: #0a3463;
    color: white;
}

.medium-azure {
    background: #36aebf;
    color: black;
}

.dark-turquoise {
    background: #008f9b;
    color: black;
}

.bright-green {
    background: #4b9f4a;
    color: black;
}

.lime {
    background: #bbe90b;
    color: black;
}

.tan {
    background: #e4cd9e;
    color: black;
}

.bright-light-orange {
    background: #f8bb3d;
    color: black;
}

.orange {
    background: #fe8a18;
    color: black;
}

.coral {
    background: #ff698f;
    color: black;
}

.clear-cell {
    background: black;
    color: white;
}

#white {
    grid-column-start: 1;
}

#dark-blue {
    grid-column-start: 2;
}

#medium-azure {
    grid-column-start: 3;
}

#dark-turquoise {
    grid-column-start: 4;
}

#bright-green {
    grid-column-start: 5;
}

#lime {
    grid-column-start: 6;
}

#tan {
    grid-column-start: 7;
}

#bright-light-orange {
    grid-column-start: 8;
}

#orange {
    grid-column-start: 9;
}

#coral {
    grid-column-start: 10;
}

#clear-cell {
    grid-column-start: 11;
}

#fill {
    grid-column-start: 12;
}

#clear {
    grid-column-start: 13;
}

#lock {
    grid-column-start: 14;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 24px 24px;
    color: white;
}

#download {
    grid-column-start: 15;
}

#lock-row-1 {
    grid-row-start: 1;
}

#lock-land {
    float: right;
}

#lock-row-2 {
    grid-row-start: 2;
}

#lock-water {
    float: right;
}
